.shopping-cart-container {
  width: 25%;
  border: 1px solid black;
}

.shopping-cart-header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1677ff;
  color: white;
}

.shopping-cart-container h2,
.shopping-cart-container h3,
.shopping-cart-container p {
  margin: 0;
}
.shopping-cart-items {
  padding: 20px;
}
.shopping-cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}
.shopping-cart-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
.shopping-cart-item img {
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-flex-between {
  display: flex;
  justify-content: space-between;
}

.item-remove {
  text-decoration: underline;
  cursor: pointer;
}

.item-grid-between {
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.checkout-summary {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.checkout-summary .item-grid-between {
  margin-bottom: 10px;
}
