.pd_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    background-color: white;
    flex: 1;
    box-sizing: border-box;
    padding: 15px;
}

.pd_img_container{
    height: 500px;
    width: 500px;
}

.pd_img {
    width: 100%;
    height: 100%;
}

.pd_info{
    flex: 1;
}