.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #111827;
}

.footer_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.footer_contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    gap: 20px;
}

.footer_rights {
    padding-right: 5%;
}

@media (max-width: 440px)  {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }