.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111827;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
}

.header_title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.header_userInfo{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-grow: 2;
    padding-right: 5%;
    gap: 30px;
}