.header {
  width: 100%;
  background: #111827;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-searcher {
  display: flex;
  justify-content: center;
}

.header_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.header_userInfo {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-grow: 2;
  padding-right: 5%;
  gap: 2vw;
  font-size: 18px;
}

.header-shopping-card {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.header-icon {
  margin-right: 0.5vw;
}

@media (max-width: 440px)  {
  .header {
    padding-bottom: 1vh;
  }
}