.products-page {
    padding-bottom: 2vw;
}

.products-page-header {
    padding-left: 2vw;
    padding-right: 3vw;
    display: flex;
    justify-content: space-between;
}

.products-page-header-buttons {
    display: flex;
}

.product-card-buttons {
    display: flex;
}

.products-page-header-buttons > * {
    margin-right: 2vw;
    margin-top: 2vw;
}

.products-list {
    padding-left: 3vw;
    padding-right: 3vw;
}
.product_card {
    max-width: 400px;
}

.product_img_container{
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1;
}

.product_img {
    width: 100%;
    height: 100%;
}

.product_info{
    flex: 1;
}

.card-button {
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: end;
    margin-right: 2vw;
}

.product-quantity {
    margin-left: 5px;
    margin-right: 5px;
}

.change-cart-quantity {
    background-color: #1073ff;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}

.change-cart-quantity-button {
    background-color: #1073ff;
    color: white;
    border-color: transparent;
}

@media (max-width: 440px) {
    .products-page-header {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-bottom: 20px;
    }
    h1 {
        margin: 0.3em;
    }
    .products-list {
        padding-left: 30px;
        padding-right: 30px;

    }
    .product_card {
        display: flex;
        justify-content: center;
    }
}