.products-page {
    margin-left: 2%;
}
.products-page-header {
    display: flex;
    justify-content: space-between;
}
.products-page-header-buttons {
    display: flex;
}
.products-page-header-buttons > * {
    margin-right: 2vw;
    margin-top: 2vw;
}

.products-list {
    padding: 2vw;
}
.product_card {
    max-width: 300px;
}

.product_img_container{
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1;
}

.product_img {
    width: 100%;
    height: 100%;
}

.product_info{
    flex: 1;
}

.add-to-cart-button {
    width: 100%;
}